
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Users can only read and write their own reports
    match /reports/{reportId} {
      allow read, write: if request.auth != null && request.auth.uid == resource.data.uid;
    }
     // Allow users to list their own reports
    match /reports {
      allow list: if request.auth != null && request.query.where.size() == 1 && request.query.where[0].field == 'uid' && request.query.where[0].op == '==' && request.query.where[0].value == request.auth.uid;
    }
  }
}
